language: python
sudo: required

python:
  - "3.6"
  - "3.7"
  - "3.8"
  
before_install:
  - cd Machine-Learning-for-Structural-Bioinformatics/PSSpred/
  - mkdir nr
  - cd nr/
  - wget -O nr.tar.gz https://zhanglab.ccmb.med.umich.edu/cgi-bin/download_ftp.cgi?ID=nr.tar.gz
  - tar -zxvf nr.tar.gz
  - ls
  - pwd
  - sudo apt-get update -qq
  - wget https://zhanglab.ccmb.med.umich.edu/PSSpred/PSSpred_v4.tar.bz2
  - tar -jxvf PSSpred_v4.tar.bz2
  - ls
  - pwd
  
before_install:
  - pip3 install gfortran
  - pip3 install coverage
  - pip3 install codecov
  - pip3 install -U tox-travis
install:
  - |
    python3 setup.py build
    python3 setup.py sdist
    python3 setup.py bdist
    python3 setup.py bdist_egg
    python3 setup.py install
    
script:
 - ls
 - coverage debug sys
 - coverage run pymbd/pymbd.py
 - codecov
 - bash <(curl -s https://codecov.io/bash)
notifications:
  email: false
