name: Build up document

on:
  push:
    branches:
      - master

jobs:
  build_docs_and_deploy:
    runs-on: ubuntu-latest
    name: build up document and deploy

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Clone repositories
      run: |
        ls
        mkdir quantum
        cd quantum/
        git clone -o orange -b qml https://github.com/nickcafferry/Machine-Learning-in-Molecular-Sciences.git master
        cd master/
        ls
        find . -name '*.xyz' | xargs rm -rf
        ls
        cd ../../
        cd master/
        ls
        find . -name '*.xyz' | xargs rm -rf
        ls
        
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@3.5.9
      with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: master # The branch the action should deploy to.
          FOLDER: master  # The folder the action should deploy.
        

    


